version: '3.8'

services:
  web:
    build: .
    container_name: jihye_library
    restart: unless-stopped
    ports:
      - "5050:5000"
    volumes:
      - ./instance:/app/instance
      - ./static/uploads:/app/static/uploads
      - ./logs:/app/logs
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
